---
import InitAnimations from "../components/shared/init-animations";
import Navbar from "../components/shared/navbar";
import Footer from "../components/shared/footer";
import Preloader from "../components/shared/preloader.astro";
import "../styles/globals.css";
import { Toaster } from "react-hot-toast";
import Favicon from "../assets/images/logo/faviconV2.png";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<!-- Meta Tags -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={Favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<meta
			property="og:title"
			content="Restauração e Liberdade | Clínica de Recuperação"
		/>
		<meta
			property="og:url"
			content="https://restauracaoeliberdade.com.br"
		/>
		<meta
			property="og:description"
			content="Clínica de recuperação com atendimento humano e discreto. Tratamento para dependência química e alcoolismo, com acolhimento 24h e apoio à família."
		/>
		<meta
			property="og:image"
			content="https://restauracaoeliberdade.com.br/_astro/logo-novo.DBBVZqVf.png"
		/>
		<title>Restauração e Liberdade | Clínica de Recuperação</title>
		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<Preloader />
		<Navbar client:only="react" />
		<InitAnimations client:only="react" />
		<Toaster
			client:only="react"
			position="top-center"
			toastOptions={{
				className: "font-primary font-semibold text-lg",
			}}
		/>
		<slot />
		<Footer />
	</body>
</html>
